<%- include('./partials/header'); %>

    <div class="content-container">
    <h1><%= pageTitle %></h1>
    <div class="form-container">
    <form action="/facts" method="post">
        <input type="text" name="limit" placeholder="Enter how many">
        <button type="submit">Get Facts</button>
    </form>
    </div>
    <% if (apiData) { %>
    <% for (let data of apiData) { %>
    <div class="search-results">
        <p> <%= data.fact %> </p>
    </div>
    <% } %>
    <% } else if (error) { %>
        <p class="error"><%= error %></p>
    <% } %>
    </div>
    <div class="content">
        <h1>FACTS</h1>
        <p>Get to Know Unknown facts.</p>
        <!-- Use a button to pause/play the video with JavaScript -->
        <button id="myBtn" onclick="myFunction()">Pause</button>
      </div>
      <video autoplay muted loop id="myVideo">
        <source src="/videos/facts.mp4" type="video/mp4">
        </video>
      <%- include('./partials/footer') %>