<%- include('./partials/header'); %>

    <div class="content-container">
    <h1><%= pageTitle %></h1>
    <div class="form-container">
    <form action="/logo" method="post">
        <input type="text" name="logo" placeholder="Enter search term">
        <button type="submit">Search</button>
    </form>
    </div>
    <% if (apiData) { %>
    <div class="search-results">
        <h2>Logo Name: <%= apiData[0].name %></h2>
        <img style="width: 500px;" src="<%= apiData[0].image %>" alt="Image Of Logo">
    </div>
    <% } else if (error) { %>
        <p class="error"><%= error %></p>
    <% } %>
</div>
<div class="content">
    <h1>LOOG</h1>
    <p>Find the logo.</p>
    <!-- Use a button to pause/play the video with JavaScript -->
    <button id="myBtn" onclick="myFunction()">Pause</button>
  </div>
  <video autoplay muted loop id="myVideo">
    <source src="/videos/logo.mp4" type="video/mp4">
    </video>
  <%- include('./partials/footer') %>