<%- include('./partials/header'); %>
    <div class="content-container">
    <h1><%= pageTitle %></h1>
    <div class="form-container">
    <form action="/password" method="post">
        <input type="text" name="length" placeholder="Enter the length">
        <button type="submit">Generate Password</button>
    </form>
    </div>
    <% if (apiData) { %>
    <div class="search-results">
        <p> <%= apiData.random_password %> </p>
    </div>
    <% } else if (error) { %>
        <p class="error"><%= error %></p>
    <% } %>
    </div>
    <div class="content">
        <h1>PASSWORD GENERATOR</h1>
        <p>Generate passwords.</p>
        <!-- Use a button to pause/play the video with JavaScript -->
        <button id="myBtn" onclick="myFunction()">Pause</button>
      </div>
      <video autoplay muted loop id="myVideo">
        <source src="/videos/password.mp4" type="video/mp4">
        </video>
      <%- include('./partials/footer') %>