<%- include('./partials/header'); %>
    <div class="content-container">
    <h1><%= pageTitle %></h1>
    <div class="form-container">
    <form action="/quotes" method="post">
        <input type="text" name="category" placeholder="Type Category">
        <button type="submit">Search</button>
    </form>
    </div>
    <% if (apiData) { %>
    <% for (let data of apiData) { %>
    <div class="search-results">
        <h2>Category : <%= data.category %> </h2>
        <p>Quote : <%= data.quote %> </p>
        <h6>Author : <%= data.author %> </h6>
    </div>
    <% } %>
    <% } else if (error) { %>
        <p class="error"><%= error %></p>
    <% } %>
    </div>
    <div class="content">
        <h1>QUOTES</h1>
        <p>Get quotes.</p>
        <!-- Use a button to pause/play the video with JavaScript -->
        <button id="myBtn" onclick="myFunction()">Pause</button>
      </div>
      <video autoplay muted loop id="myVideo">
        <source src="/videos/quote.mp4" type="video/mp4">
        </video>
      <%- include('./partials/footer') %>