<%- include('./partials/header'); %>

    <div class="content-container">
    <h1><%= pageTitle %></h1>
    <div class="form-container">
    <form action="/recipe" method="post">
        <input type="text" name="query" placeholder="Search Recipe">
        <button type="submit">Search</button>
    </form>
    </div>
    <% if (apiData) { %>
    <% for (let data of apiData) { %>
    <div class="search-results">
        <h2>Title : <%= data.title %> </h2>
        <hr>
        <h2>Ingredients : <%= data.ingredients %> </h2>
        <hr>
        <h2>Servings : <%= data.servings %> </h2>
        <hr>
        <p>Instructions : <%= data.instructions %> </p>
    </div>
    <% } %>
    <% } else if (error) { %>
        <p class="error"><%= error %></p>
    <% } %>
    </div>
    <div class="content">
        <h1>Recipes</h1>
        <p>Find new recipes.</p>
        <!-- Use a button to pause/play the video with JavaScript -->
        <button id="myBtn" onclick="myFunction()">Pause</button>
      </div>
      <video autoplay muted loop id="myVideo">
        <source src="/videos/recipe.mp4" type="video/mp4">
        </video>
      <%- include('./partials/footer') %>